In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Importing all datasets
import os
print(os.getcwd())
churn_data = pd.read_csv("Machine-Learning-Case-Study/Telcome_Churn/data/telecom_churn_data.csv")
churn_data.head()

/Users/manoj/work/iiit-upgrad

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mobile_number</th>
      <th>circle_id</th>
      <th>loc_og_t2o_mou</th>
      <th>std_og_t2o_mou</th>
      <th>loc_ic_t2o_mou</th>
      <th>last_date_of_month_6</th>
      <th>last_date_of_month_7</th>
      <th>last_date_of_month_8</th>
      <th>last_date_of_month_9</th>
      <th>arpu_6</th>
      <th>...</th>
      <th>sachet_3g_9</th>
      <th>fb_user_6</th>
      <th>fb_user_7</th>
      <th>fb_user_8</th>
      <th>fb_user_9</th>
      <th>aon</th>
      <th>aug_vbc_3g</th>
      <th>jul_vbc_3g</th>
      <th>jun_vbc_3g</th>
      <th>sep_vbc_3g</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>7000842753</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>197.385</td>
      <td>...</td>
      <td>0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>968</td>
      <td>30.4</td>
      <td>0.0</td>
      <td>101.20</td>
      <td>3.58</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7001865778</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>34.047</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>1006</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7001625959</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>167.690</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>1103</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>4.17</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7001204172</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>221.338</td>
      <td>...</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2491</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7000142493</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>261.636</td>
      <td>...</td>
      <td>0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1526</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 226 columns</p>
</div>

In [13]:
churn_data.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mobile_number</th>
      <th>circle_id</th>
      <th>loc_og_t2o_mou</th>
      <th>std_og_t2o_mou</th>
      <th>loc_ic_t2o_mou</th>
      <th>arpu_6</th>
      <th>arpu_7</th>
      <th>arpu_8</th>
      <th>arpu_9</th>
      <th>onnet_mou_6</th>
      <th>...</th>
      <th>sachet_3g_9</th>
      <th>fb_user_6</th>
      <th>fb_user_7</th>
      <th>fb_user_8</th>
      <th>fb_user_9</th>
      <th>aon</th>
      <th>aug_vbc_3g</th>
      <th>jul_vbc_3g</th>
      <th>jun_vbc_3g</th>
      <th>sep_vbc_3g</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>9.999900e+04</td>
      <td>99999.0</td>
      <td>98981.0</td>
      <td>98981.0</td>
      <td>98981.0</td>
      <td>99999.000000</td>
      <td>99999.000000</td>
      <td>99999.000000</td>
      <td>99999.000000</td>
      <td>96062.000000</td>
      <td>...</td>
      <td>99999.000000</td>
      <td>25153.000000</td>
      <td>25571.000000</td>
      <td>26339.000000</td>
      <td>25922.000000</td>
      <td>99999.000000</td>
      <td>99999.000000</td>
      <td>99999.000000</td>
      <td>99999.000000</td>
      <td>99999.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>7.001207e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>282.987358</td>
      <td>278.536648</td>
      <td>279.154731</td>
      <td>261.645069</td>
      <td>132.395875</td>
      <td>...</td>
      <td>0.084581</td>
      <td>0.914404</td>
      <td>0.908764</td>
      <td>0.890808</td>
      <td>0.860968</td>
      <td>1219.854749</td>
      <td>68.170248</td>
      <td>66.839062</td>
      <td>60.021204</td>
      <td>3.299373</td>
    </tr>
    <tr>
      <th>std</th>
      <td>6.956694e+05</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>328.439770</td>
      <td>338.156291</td>
      <td>344.474791</td>
      <td>341.998630</td>
      <td>297.207406</td>
      <td>...</td>
      <td>0.650457</td>
      <td>0.279772</td>
      <td>0.287950</td>
      <td>0.311885</td>
      <td>0.345987</td>
      <td>954.733842</td>
      <td>267.580450</td>
      <td>271.201856</td>
      <td>253.938223</td>
      <td>32.408353</td>
    </tr>
    <tr>
      <th>min</th>
      <td>7.000000e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-2258.709000</td>
      <td>-2014.045000</td>
      <td>-945.808000</td>
      <td>-1899.505000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>180.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>7.000606e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>93.411500</td>
      <td>86.980500</td>
      <td>84.126000</td>
      <td>62.685000</td>
      <td>7.380000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>467.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>7.001205e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>197.704000</td>
      <td>191.640000</td>
      <td>192.080000</td>
      <td>176.849000</td>
      <td>34.310000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>863.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>7.001812e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>371.060000</td>
      <td>365.344500</td>
      <td>369.370500</td>
      <td>353.466500</td>
      <td>118.740000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1807.500000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>7.002411e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>27731.088000</td>
      <td>35145.834000</td>
      <td>33543.624000</td>
      <td>38805.617000</td>
      <td>7376.710000</td>
      <td>...</td>
      <td>49.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>4337.000000</td>
      <td>12916.220000</td>
      <td>9165.600000</td>
      <td>11166.210000</td>
      <td>2618.570000</td>
    </tr>
  </tbody>
</table>
<p>8 rows Ã— 214 columns</p>
</div>

In [28]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

#### Too many rows to Analyze.
##### Check Missing data and remove who have too many missing values in column

In [30]:
missing_column = churn_data.columns[(100*churn_data.isnull().sum()/len(churn_data.index)) < 50]
churn_data=churn_data[missing_column]
churn_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mobile_number</th>
      <th>circle_id</th>
      <th>loc_og_t2o_mou</th>
      <th>std_og_t2o_mou</th>
      <th>loc_ic_t2o_mou</th>
      <th>last_date_of_month_6</th>
      <th>last_date_of_month_7</th>
      <th>last_date_of_month_8</th>
      <th>last_date_of_month_9</th>
      <th>arpu_6</th>
      <th>...</th>
      <th>monthly_3g_9</th>
      <th>sachet_3g_6</th>
      <th>sachet_3g_7</th>
      <th>sachet_3g_8</th>
      <th>sachet_3g_9</th>
      <th>aon</th>
      <th>aug_vbc_3g</th>
      <th>jul_vbc_3g</th>
      <th>jun_vbc_3g</th>
      <th>sep_vbc_3g</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>7000842753</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>197.385</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>968</td>
      <td>30.4</td>
      <td>0.0</td>
      <td>101.20</td>
      <td>3.58</td>
    </tr>
    <tr>
      <th>1</th>
      <td>7001865778</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>34.047</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1006</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7001625959</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>167.690</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1103</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>4.17</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7001204172</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>221.338</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2491</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7000142493</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>261.636</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1526</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.00</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 186 columns</p>
</div>

In [31]:
missing_column = churn_data.columns[(100*churn_data.isnull().sum()/len(churn_data.index)) > 5]
missing_column

Index(['onnet_mou_8', 'onnet_mou_9', 'offnet_mou_8', 'offnet_mou_9',
       'roam_ic_mou_8', 'roam_ic_mou_9', 'roam_og_mou_8', 'roam_og_mou_9',
       'loc_og_t2t_mou_8', 'loc_og_t2t_mou_9', 'loc_og_t2m_mou_8',
       'loc_og_t2m_mou_9', 'loc_og_t2f_mou_8', 'loc_og_t2f_mou_9',
       'loc_og_t2c_mou_8', 'loc_og_t2c_mou_9', 'loc_og_mou_8', 'loc_og_mou_9',
       'std_og_t2t_mou_8', 'std_og_t2t_mou_9', 'std_og_t2m_mou_8',
       'std_og_t2m_mou_9', 'std_og_t2f_mou_8', 'std_og_t2f_mou_9',
       'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_og_mou_8', 'std_og_mou_9',
       'isd_og_mou_8', 'isd_og_mou_9', 'spl_og_mou_8', 'spl_og_mou_9',
       'og_others_8', 'og_others_9', 'loc_ic_t2t_mou_8', 'loc_ic_t2t_mou_9',
       'loc_ic_t2m_mou_8', 'loc_ic_t2m_mou_9', 'loc_ic_t2f_mou_8',
       'loc_ic_t2f_mou_9', 'loc_ic_mou_8', 'loc_ic_mou_9', 'std_ic_t2t_mou_8',
       'std_ic_t2t_mou_9', 'std_ic_t2m_mou_8', 'std_ic_t2m_mou_9',
       'std_ic_t2f_mou_8', 'std_ic_t2f_mou_9', 'std_ic_t2o_mou_8',
       'std_ic_t2o_mou_9', 'std_ic_mou_8', 'std_ic_mou_9', 'spl_ic_mou_8',
       'spl_ic_mou_9', 'isd_ic_mou_8', 'isd_ic_mou_9', 'ic_others_8',
       'ic_others_9'],
      dtype='object')

#### Lots of column having more than 5% data is mssing.

In [33]:
no_missing_churn_df = churn_data.dropna(axis=0,how='any')
no_missing_churn_df.shape

(84185, 186)

#### Removed rows which having any missing values

In [34]:
no_missing_churn_df.select_dtypes(exclude=['int', 'float']).columns

Index(['last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8',
       'last_date_of_month_9', 'date_of_last_rech_6', 'date_of_last_rech_7',
       'date_of_last_rech_8', 'date_of_last_rech_9'],
      dtype='object')

In [35]:
date_attributes = ['last_date_of_month_6', 'last_date_of_month_7',
       'last_date_of_month_8', 'last_date_of_month_9',
       'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8',
       'date_of_last_rech_9']
no_missing_churn_df[date_attributes].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>last_date_of_month_6</th>
      <th>last_date_of_month_7</th>
      <th>last_date_of_month_8</th>
      <th>last_date_of_month_9</th>
      <th>date_of_last_rech_6</th>
      <th>date_of_last_rech_7</th>
      <th>date_of_last_rech_8</th>
      <th>date_of_last_rech_9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>6/29/2014</td>
      <td>7/31/2014</td>
      <td>8/28/2014</td>
      <td>9/30/2014</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>6/17/2014</td>
      <td>7/24/2014</td>
      <td>8/14/2014</td>
      <td>9/29/2014</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>6/28/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>6/26/2014</td>
      <td>7/28/2014</td>
      <td>8/9/2014</td>
      <td>9/28/2014</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6/30/2014</td>
      <td>7/31/2014</td>
      <td>8/31/2014</td>
      <td>9/30/2014</td>
      <td>6/19/2014</td>
      <td>7/17/2014</td>
      <td>8/24/2014</td>
      <td>9/28/2014</td>
    </tr>
  </tbody>
</table>
</div>

In [43]:
no_missing_churn_df[date_attributes] = no_missing_churn_df[date_attributes].applymap(lambda x : pd.to_datetime(x, infer_datetime_format=True))

In [45]:
no_missing_churn_df[date_attributes].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>last_date_of_month_6</th>
      <th>last_date_of_month_7</th>
      <th>last_date_of_month_8</th>
      <th>last_date_of_month_9</th>
      <th>date_of_last_rech_6</th>
      <th>date_of_last_rech_7</th>
      <th>date_of_last_rech_8</th>
      <th>date_of_last_rech_9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2014-06-30</td>
      <td>2014-07-31</td>
      <td>2014-08-31</td>
      <td>2014-09-30</td>
      <td>2014-06-29</td>
      <td>2014-07-31</td>
      <td>2014-08-28</td>
      <td>2014-09-30</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2014-06-30</td>
      <td>2014-07-31</td>
      <td>2014-08-31</td>
      <td>2014-09-30</td>
      <td>2014-06-17</td>
      <td>2014-07-24</td>
      <td>2014-08-14</td>
      <td>2014-09-29</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014-06-30</td>
      <td>2014-07-31</td>
      <td>2014-08-31</td>
      <td>2014-09-30</td>
      <td>2014-06-28</td>
      <td>2014-07-31</td>
      <td>2014-08-31</td>
      <td>2014-09-30</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014-06-30</td>
      <td>2014-07-31</td>
      <td>2014-08-31</td>
      <td>2014-09-30</td>
      <td>2014-06-26</td>
      <td>2014-07-28</td>
      <td>2014-08-09</td>
      <td>2014-09-28</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2014-06-30</td>
      <td>2014-07-31</td>
      <td>2014-08-31</td>
      <td>2014-09-30</td>
      <td>2014-06-19</td>
      <td>2014-07-17</td>
      <td>2014-08-24</td>
      <td>2014-09-28</td>
    </tr>
  </tbody>
</table>
</div>

In [46]:
no_missing_churn_df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mobile_number</th>
      <th>circle_id</th>
      <th>loc_og_t2o_mou</th>
      <th>std_og_t2o_mou</th>
      <th>loc_ic_t2o_mou</th>
      <th>arpu_6</th>
      <th>arpu_7</th>
      <th>arpu_8</th>
      <th>arpu_9</th>
      <th>onnet_mou_6</th>
      <th>...</th>
      <th>monthly_3g_9</th>
      <th>sachet_3g_6</th>
      <th>sachet_3g_7</th>
      <th>sachet_3g_8</th>
      <th>sachet_3g_9</th>
      <th>aon</th>
      <th>aug_vbc_3g</th>
      <th>jul_vbc_3g</th>
      <th>jun_vbc_3g</th>
      <th>sep_vbc_3g</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>8.418500e+04</td>
      <td>84185.0</td>
      <td>84185.0</td>
      <td>84185.0</td>
      <td>84185.0</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>...</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
      <td>84185.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>7.001227e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>294.902871</td>
      <td>298.714947</td>
      <td>304.333608</td>
      <td>290.683456</td>
      <td>133.736664</td>
      <td>...</td>
      <td>0.092831</td>
      <td>0.076914</td>
      <td>0.084302</td>
      <td>0.092534</td>
      <td>0.094126</td>
      <td>1273.130083</td>
      <td>74.943136</td>
      <td>71.805762</td>
      <td>63.273043</td>
      <td>3.737929</td>
    </tr>
    <tr>
      <th>std</th>
      <td>6.879239e+05</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>328.760913</td>
      <td>342.675529</td>
      <td>352.369638</td>
      <td>350.229101</td>
      <td>297.864522</td>
      <td>...</td>
      <td>0.400950</td>
      <td>0.578251</td>
      <td>0.638150</td>
      <td>0.700907</td>
      <td>0.688381</td>
      <td>965.107844</td>
      <td>278.726313</td>
      <td>281.320228</td>
      <td>260.105991</td>
      <td>34.528453</td>
    </tr>
    <tr>
      <th>min</th>
      <td>7.000000e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-810.661000</td>
      <td>-622.509000</td>
      <td>-345.129000</td>
      <td>-1474.195000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>180.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>7.000641e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>101.690000</td>
      <td>103.141000</td>
      <td>106.726000</td>
      <td>93.483000</td>
      <td>7.990000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>485.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>7.001235e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>209.143000</td>
      <td>211.112000</td>
      <td>215.082000</td>
      <td>204.795000</td>
      <td>35.430000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>936.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>7.001822e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>385.127000</td>
      <td>388.069000</td>
      <td>396.269000</td>
      <td>384.121000</td>
      <td>120.580000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1948.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>7.002411e+09</td>
      <td>109.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>27731.088000</td>
      <td>35145.834000</td>
      <td>33543.624000</td>
      <td>38805.617000</td>
      <td>7376.710000</td>
      <td>...</td>
      <td>11.000000</td>
      <td>29.000000</td>
      <td>33.000000</td>
      <td>41.000000</td>
      <td>49.000000</td>
      <td>4337.000000</td>
      <td>12916.220000</td>
      <td>9165.600000</td>
      <td>11166.210000</td>
      <td>2618.570000</td>
    </tr>
  </tbody>
</table>
<p>8 rows Ã— 178 columns</p>
</div>

In [47]:
no_missing_churn_df.columns

Index(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7',
       'last_date_of_month_8', 'last_date_of_month_9', 'arpu_6',
       ...
       'monthly_3g_9', 'sachet_3g_6', 'sachet_3g_7', 'sachet_3g_8',
       'sachet_3g_9', 'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g',
       'sep_vbc_3g'],
      dtype='object', length=186)

## Data Preparation

In [48]:
## Number of days between two recharcge:
no_missing_churn_df['first_recharge_gap'] = no_missing_churn_df['date_of_last_rech_7'] - no_missing_churn_df['date_of_last_rech_6']
no_missing_churn_df['second_recharge_gap'] = no_missing_churn_df['date_of_last_rech_8'] - no_missing_churn_df['date_of_last_rech_7']
no_missing_churn_df['third_recharge_gap'] = no_missing_churn_df['date_of_last_rech_9'] - no_missing_churn_df['date_of_last_rech_8']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

##### Remove date columns from data sets as of no use.

In [49]:
cleaned_df = no_missing_churn_df.drop(labels=date_attributes,axis=1)
cleaned_df['first_recharge_gap']= cleaned_df['first_recharge_gap']/np.timedelta64(1,'D')
cleaned_df['second_recharge_gap']= cleaned_df['second_recharge_gap']/np.timedelta64(1,'D')
cleaned_df['third_recharge_gap']= cleaned_df['third_recharge_gap']/np.timedelta64(1,'D')


cleaned_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mobile_number</th>
      <th>circle_id</th>
      <th>loc_og_t2o_mou</th>
      <th>std_og_t2o_mou</th>
      <th>loc_ic_t2o_mou</th>
      <th>arpu_6</th>
      <th>arpu_7</th>
      <th>arpu_8</th>
      <th>arpu_9</th>
      <th>onnet_mou_6</th>
      <th>...</th>
      <th>sachet_3g_8</th>
      <th>sachet_3g_9</th>
      <th>aon</th>
      <th>aug_vbc_3g</th>
      <th>jul_vbc_3g</th>
      <th>jun_vbc_3g</th>
      <th>sep_vbc_3g</th>
      <th>first_recharge_gap</th>
      <th>second_recharge_gap</th>
      <th>third_recharge_gap</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7001865778</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>34.047</td>
      <td>355.074</td>
      <td>268.321</td>
      <td>86.285</td>
      <td>24.11</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1006</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>32.0</td>
      <td>28.0</td>
      <td>33.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7001625959</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>167.690</td>
      <td>189.058</td>
      <td>210.226</td>
      <td>290.714</td>
      <td>11.54</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1103</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>4.17</td>
      <td>0.0</td>
      <td>37.0</td>
      <td>21.0</td>
      <td>46.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7001204172</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>221.338</td>
      <td>251.102</td>
      <td>508.054</td>
      <td>389.500</td>
      <td>99.91</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>2491</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>33.0</td>
      <td>31.0</td>
      <td>30.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7000142493</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>261.636</td>
      <td>309.876</td>
      <td>238.174</td>
      <td>163.426</td>
      <td>50.31</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1526</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>32.0</td>
      <td>12.0</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7000286308</td>
      <td>109</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>50.258</td>
      <td>58.810</td>
      <td>83.386</td>
      <td>170.826</td>
      <td>50.16</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>1471</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>28.0</td>
      <td>38.0</td>
      <td>35.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 181 columns</p>
</div>

In [52]:
#cleaned_df['avg_recharge_goodPhase'] = 
recharge_attributes_df = cleaned_df.filter(regex='rech')
recharge_attributes_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>total_rech_num_6</th>
      <th>total_rech_num_7</th>
      <th>total_rech_num_8</th>
      <th>total_rech_num_9</th>
      <th>total_rech_amt_6</th>
      <th>total_rech_amt_7</th>
      <th>total_rech_amt_8</th>
      <th>total_rech_amt_9</th>
      <th>max_rech_amt_6</th>
      <th>max_rech_amt_7</th>
      <th>max_rech_amt_8</th>
      <th>max_rech_amt_9</th>
      <th>first_recharge_gap</th>
      <th>second_recharge_gap</th>
      <th>third_recharge_gap</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>9</td>
      <td>11</td>
      <td>5</td>
      <td>74</td>
      <td>384</td>
      <td>283</td>
      <td>121</td>
      <td>44</td>
      <td>154</td>
      <td>65</td>
      <td>50</td>
      <td>32.0</td>
      <td>28.0</td>
      <td>33.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>7</td>
      <td>168</td>
      <td>315</td>
      <td>116</td>
      <td>358</td>
      <td>86</td>
      <td>200</td>
      <td>86</td>
      <td>100</td>
      <td>37.0</td>
      <td>21.0</td>
      <td>46.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>11</td>
      <td>18</td>
      <td>14</td>
      <td>230</td>
      <td>310</td>
      <td>601</td>
      <td>410</td>
      <td>60</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>33.0</td>
      <td>31.0</td>
      <td>30.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>196</td>
      <td>350</td>
      <td>287</td>
      <td>200</td>
      <td>56</td>
      <td>110</td>
      <td>110</td>
      <td>50</td>
      <td>32.0</td>
      <td>12.0</td>
      <td>50.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>120</td>
      <td>0</td>
      <td>130</td>
      <td>130</td>
      <td>120</td>
      <td>0</td>
      <td>130</td>
      <td>130</td>
      <td>28.0</td>
      <td>38.0</td>
      <td>35.0</td>
    </tr>
  </tbody>
</table>
</div>

In [53]:
recharge_attributes_df.columns

Index(['total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8',
       'total_rech_num_9', 'total_rech_amt_6', 'total_rech_amt_7',
       'total_rech_amt_8', 'total_rech_amt_9', 'max_rech_amt_6',
       'max_rech_amt_7', 'max_rech_amt_8', 'max_rech_amt_9',
       'first_recharge_gap', 'second_recharge_gap', 'third_recharge_gap'],
      dtype='object')